// Contact whatever.
.o-contact {
  @include clearfix;
}
// Offer Item.
.o-offers {
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  @include padding(null em($ratio--b));
  @include media($phone--landscape) {
    @include padding(null $ratio--m);
  }
  @include media($tablet) {
    @include padding(null $ratio--l);
  }
  @include media($desktop) {
    @include padding(null 6.5%);
  }
  @include media($desktop--wide) {
    @include padding(null 10%);
  }
}
.o-item {
  display: inline-block;
  width: em(260);
  @include margin(null em($ratio--xs) em($ratio--xs));
  vertical-align: top;
  text-align: left;
  color: $c-text;
}
.o-item__link {
  display: block;
  border-radius: $radius--b;
  margin-bottom: em($ratio--b);
  padding: em($ratio--xs);
  transition: background-color $duration--b;

  &:link, &:visited {
    background-color: $c-green--dark;
  }
  &:hover, &:active {
    background-color: white;
  }
  img {
    width: 100%;
  }
}
.o-item__content {
  display: none;
}
.o-item__title {
  // Lol.
  color: $c-hover;
}

// Button.
.o-button {
  display: inline-block;

  line-height: em($height--b);

  border-radius: $radius--b;
  padding-left: em($ratio--b);
  padding-right: em($ratio--b);
  
  text-decoration: none;
  @include state--link {
    color: white;
    background-color: rgba($c-grey5, .25);
  }
}