// Contact whatever.
.o-contact {
  @include clearfix;
}
// Offer Item.
.o-offers {
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  max-width: em(1100);
  padding-right: em(140);

  @include media($desktop--wide) {
    max-width: em(1200);
  }
}

// Button.
.o-button {
  display: inline-block;

  line-height: em($height--b);

  border-radius: $radius--b;
  padding-left: em($ratio--b);
  padding-right: em($ratio--b);
  
  text-decoration: none;
  transition: background-color $duration--s;
  @include state--link {
    color: white;
    background-color: $c-green--dark;
  }
  @include state--active {
    background-color: $c-hover;
  }
}
.o-button--block {
  display: block;
  text-align: center;
  @include padding(null 0);
}

.o-sticky {
  position: fixed;
  background-color: white;
  right: 0;
  top: 30%;
  @include radius--left($radius--b);
  width: em(200);
}
.o-sticky__content {
  padding: em($ratio--b);
  @include collapse-children;
}
.o-sticky__list {
  padding-left: em($ratio--m);
  color: $c-grey3;
  font-size: em($unit--s);
  .o-sticky:hover & {
    list-style: none;
  }
  li {
    position: relative;
    padding-right: em($ratio--s);
  }
}
.o-sticky__remove {
  position: absolute;
  left: em(-$ratio--m);
  top: 0;
  line-height: em(28);
  display: none;
  .o-sticky:hover & {
    display: block;
  }
}
.o-sticky__button {
  @include radius--right(0);
  border-top-left-radius: 0;
}

.o-form__cell {
  padding-bottom: em($ratio--b);
  & + & {
    padding-left: em($ratio--b);
  }
}
.o-form__submit {
  float: right;
}
.o-form__date {
  width: em(84);
}

.o-quote__list {
  color: $c-grey3;
  @include padding(em($ratio--b) null em($ratio--b) 0);
  border-top: $line--s dashed $c-color2--light;
  border-bottom: $line--s dashed $c-color2--light;
  padding-left: em($ratio--m);
  li {
    padding-left: em($ratio--s);
  }
}
.o-quote__remove {
  float: right;
  line-height: em(24, $unit--s);
}