html,
button,
input,
select,
textarea {
  color: $c-grey4;
}
body {
  // font-size: 1.0625em;
  font-family: $font--default;
  line-height: 1.5;
}
a {
  @include state--link {
    color: $c-color1;
  }
  @include state--active {
    color: $c-hover;
  }
}
nav a {
  text-decoration: none;
}
p a, h1 a, h2 a, h3 a, h4 a, h5 a
{
  text-decoration: none;
  border-bottom: 1px solid;
}
::selection {
  background: $c-color1;
  color: white;
  text-shadow: none;
}
img {
  display: block;
}

// Custom styles.
.fleft {
  float: left;
}
.fright {
  float: right;
}
nav ul, ul.nolist {
  padding: 0; margin: 0; list-style: none; }
.notop {
  margin-top: 0;
}
.nobottom {
  margin-bottom: 0;
}
.mtop1 {
  margin-top: 1em;
}
