.t-h1 {
  font-size: em($ratio--l);
  font-family: $font--serif;
  font-weight: normal;
  line-height: 1.1;
  @include margin(em($ratio--xs) 0);
  color: white;
  -webkit-font-smoothing: antialiased;
}
.t-h2 {
  font-size: em($ratio--m);
  font-family: $font--sans;
  font-weight: normal;
  margin: .5em 0;
}
.t-h3 {
  font-size: em(26);
  font-family: $font--serif;
  font-weight: normal;
  line-height: 1.2;
  color: white;
  margin: .5em 0;
  -webkit-font-smoothing: antialiased;
}
[class^="t-caps"],
[class*=" t-caps"] {
  font-size: em($unit--l);
  font-family: $font--sans;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .125em;
  color: $c-hover;
  margin: .25em 0;
}
.t-caps--small {
  font-size: em($ratio--b);
}
h4 {
  margin: .2em 0 .1em;
}
h5 {
  margin: 1.2em 0 .8em;
}
p.big, nav, a.big, #kontakt ul.big {
  font-family: $font--sans;
  font-weight: normal;
}