.t-h1 {
  font-size: em($ratio--l);
  font-family: $font--serif;
  font-weight: normal;
  line-height: 1.1;
  @include margin(em($ratio--xs) 0);
  color: white;
  -webkit-font-smoothing: antialiased;
}
.t-h2 {
  font-size: em($ratio--m);
  font-family: $font--sans;
  font-weight: normal;
  margin: .5em 0;
}
.t-h2--light {
  color: $c-grey3;
  span {
    color: $c-grey4;
  }
}
.t-h3 {
  font-size: em(26);
  font-family: $font--serif;
  font-weight: normal;
  line-height: 1.2;
  color: white;
  margin: .5em 0;
  -webkit-font-smoothing: antialiased;
}
.t-h4 {
  font-family: $font--sans;
  font-weight: normal;
  font-size: em($unit--m);
  @include margin(em($ratio--s) null);
}
[class^="t-caps"],
[class*=" t-caps"] {
  font-size: em($unit--l);
  font-family: $font--sans;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .125em;
  color: $c-color3;
  @include margin(em($ratio--s) null);
}
.t-caps--small {
  font-size: em($ratio--b);
}

p.big, nav, a.big, #kontakt ul.big {
  font-family: $font--sans;
  font-weight: normal;
}

.t-note {
  font-size: em($unit--xs);
  color: $c-grey3;
}
