aside.o-sticky
  .o-sticky__content
    h4.t-h4 Vaše poptávka
    ol.o-sticky__list
      each instance, index in ["Skákací hrad Hája", "Catering", "Modelování balónků"]
        li
          = instance
          a.o-sticky__remove.i-simple--negative(href="#") &times;
  a.o-sticky__button.o-button.o-button--block(href="poptavka") Nacenit