// Colors
$c-color1: #79af53;
$c-color2: #00a2e0;
$c-hover: #8be15c;

$c-grey1: #f5f5f5;
$c-grey2: #ccc;
$c-grey3: #888;
$c-grey4: #444;
$c-grey5: #222;

$c-green: #4daf47;
$c-green--dark: #009e4e;
$c-beige: #cbbb9f;
$c-yellow: #ffed00;

$c-text: #246135;
$c-text--light: #3a883d;