// Colors

$c-color1: hsb(95, 55, 70);
$c-color2: hsb(195, 100, 85);
$c-color3: hsb(85, 60, 90);

$c-grey1: hsb(40, 5, 96);
$c-grey2: hsb(40, 6, 80);
$c-grey3: hsb(40, 7, 55);
$c-grey4: hsb(40, 8, 45);
$c-grey5: hsb(40, 9, 30);
$c-grey6: hsb(40, 10, 20);

$c-green: hsb(117, 59, 69);
$c-green--light: tint($c-green, 35%);
// $c-green--dark: shade($c-green, 15%);
$c-green--dark: hsb(137, 80, 55);

$c-beige: hsb(38, 22, 80);
$c-yellow: hsb(56, 100, 100);

$c-negative: hsb(35, 85, 95);

$c-text: hsb(137, 65, 40);
// $c-text--light: hsb(122, 60, 80);

$c-blue--light: hsb(175, 35, 85);
$c-blue--pale: hsb(175, 10, 96);
$c-blue: hsb(175, 60, 70);
$c-blue--dark: hsb(195, 60, 35);

// Lighter.
$c-color1--light: lighten($c-color1, 25%);
$c-color2--light: lighten($c-color2, 25%);
// $c-color3--light: lighten($c-color3, 25%);
// $c-color4--light: lighten($c-color4, 25%);

// Darker.
$c-color1--dark: shade($c-color1, 50%);
$c-color2--dark: shade($c-color2, 50%);
// $c-color3--dark: shade($c-color3, 50%);
// $c-color4--dark: shade($c-color4, 50%);

// Interactive.
$c-link: $c-color1;
$c-visited: $c-grey5;
$c-hover: $c-color3;
$c-active: $c-color2--light;

$c-select--background: $c-color2--light;
$c-select--text: $c-color2--dark;
